<ng-container *ngIf="mangel$ | async as mangel">
  <mat-toolbar>
    <h2 class="flex-grow">Mangel (#{{ mangel.id }}) – Details</h2>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>


  <div class="detail-container">
    <section class="detail-section">
      <div class="detail-row">
        <span class="detail-label">Issue:</span>
        <span class="detail-value">{{ mangel.issue }}</span>
      </div>

      <div class="detail-row" *ngIf="mangel.description">
        <span class="detail-label">Beschreibung:</span>
        <span class="detail-value">{{ mangel.description }}</span>
      </div>

      <div class="detail-row">
        <span class="detail-label">Standort:</span>
        <span class="detail-value">
          {{ mangel.latitude }}, {{ mangel.longitude }}
        </span>
      </div>
    </section>

    <section class="status-card">
      <div class="status-card-header">
        <mat-icon>edit_note</mat-icon>
        <h3>Status bearbeiten</h3>
      </div>

      <div class="status-control">
        <select
          class="status-select-action"
          [value]="mangel.status"
          (change)="onStatusChange(select.value, mangel.id)"
          #select
        >
          <option *ngFor="let status of reportStatuses" [value]="status">
            {{ status }}
          </option>
        </select>
      </div>
    </section>

    <mat-divider></mat-divider>

    <section class="photo-section" *ngIf="mangel.photoUrls.length">
      <h3>Fotos</h3>

      <div class="photo-grid">
        <img
          *ngFor="let url of mangel.photoUrls"
          [src]="url"
          alt="Foto zum Mangel"
          class="photo-img"
        />
      </div>
    </section>


    <section class="action-section">
    </section>
  </div>

</ng-container>
