<ng-container *ngIf="mangel$ | async as mangel">
  <mat-toolbar>
    <h2 class="flex-grow">Mangel #{{ mangel.id }}</h2>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>

  <ul class="hinweis-liste">
    <li><strong>Issue:</strong> {{ mangel.issue }}</li>

    <li *ngIf="mangel.description">
      <strong>Beschreibung:</strong> {{ mangel.description }}
    </li>

    <li>
      <strong>Standort:</strong>
      {{ mangel.latitude }}, {{ mangel.longitude }}
    </li>

  </ul>
</ng-container>
