<ng-container *ngIf="mangel$ | async as mangel">
  <mat-toolbar>
    <h2 class="flex-grow">Mangel (#{{ mangel.id }}) – Details</h2>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>


  <div class="detail-container">
    <section class="detail-section">
      <div class="detail-row">
        <span class="detail-label">Issue:</span>
        <span class="detail-value">{{ mangel.issue }}</span>
      </div>

      <div class="detail-row" *ngIf="mangel.description">
        <span class="detail-label">Beschreibung:</span>
        <span class="detail-value">{{ mangel.description }}</span>
      </div>

      <div class="detail-row">
        <span class="detail-label">Standort:</span>
        <span class="detail-value">
          {{ mangel.latitude }}, {{ mangel.longitude }}
        </span>
      </div>
    </section>

    <mat-divider></mat-divider>

    <section class="action-section">
    </section>
  </div>

</ng-container>
