<mat-toolbar radRightDetailsShortcut>
  <h2 class="flex-grow">Mängel</h2>

  <button
    matTooltip="Schließen"
    (click)="onClose()"
    mat-icon-button>
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<nav mat-tab-nav-bar color="accent" [disableRipple]="true" [tabPanel]="tabPanel">
  <a
    mat-tab-link
    routerLinkActive
    queryParamsHandling="merge"
    [routerLink]="tabelleRoute"
    [routerLinkActiveOptions]="routerLinkActiveOptions"
    [active]="rlaTabelle.isActive"
    #rlaTabelle="routerLinkActive"
    class="nav-bar-item">
    Tabelle
  </a>
</nav>

<mat-tab-nav-panel class="tab-panel" #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
