@import 'src/style/spacing';
@import 'src/style/colors';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: $viewer-side-bar-width;
}

.form-group {
  flex-grow: 1;
  overflow: hidden;
}

a.editor-ausschnitt-link:visited, a.editor-ausschnitt-link {
  color: unset;
}

.new-tab-icon {
  vertical-align: middle;
}

.hinweis-liste {
  font-style: italic;
  font-size: 75%;
  color: map-get($grayscale, 500);
  padding-inline-start: 1rem;
  padding-right: 1rem;

  li:not(:last-child) {
    margin-bottom: 0.25rem;
  }
}
